@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #46DCED 1.84%, #63b7df 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #46DCED -13.86%, #63b7df 99.55%);
  
  --color-bg: #666666;
  --color-text: #46DCED;
  --color-subtext: #46DCED;
}